.form {
    width: auto;
    margin: 10px;
}


.field-contract {
    align-items: center;
    margin: 10px;
}

.field-amount {
    width: 400px;
    margin: 5px;
}

 
.buttons {
    align-items: center;
    margin: 10px;
}