/* styles.css */

@import '~bootstrap/dist/css/bootstrap.min.css';

/* Additional custom styles */
.card {
  margin-bottom: 20px;
}

.btn-primary {
  margin-top: 10px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
